@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
    position: absolute;
    inset: 50% auto auto 50%;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    top: 36px;

    left: auto;
    right: 36px;
}

@media (min-width: 768px) {
    .bm-burger-button {
        right: auto;
        left: 20px;
    }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: white;
}

@media (min-width: 768px) {
    .bm-burger-bars {
        background-color: rgb(245 158 11);
    }
}

/* Color/shape of burger icon bars on hover*/
@media (min-width: 768px) {
    .bm-burger-bars-hover {
        background-color: rgb(180 83 9);
    }
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: white;
    padding: 2.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    padding: 0.8em 0;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}